@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;
  
    --core: 60, 0%, 98%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 26.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    --primary: 0 0% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 260, 1%, 94%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 240 4.3% 9%;
    --foreground: 213 31% 91%;

    --core: 240 4.3% 9%;

    --muted: 240 2.6% 14.9%;
    --muted-foreground: 280 3.7% 56.9%;

    --accent: 240 2.6% 14.9%;
    --accent-foreground: 210 40% 98%;

    --popover: 240 4.3% 9%;
    --popover-foreground: 0 0% 100%;

    --border: 240 2.6% 14.9%;
    --input: 240 2.6% 14.9%;

    --card: 240 4.3% 9%;
    --card-foreground: 213 31% 91%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --destructive: 0, 98%, 59%;
    --destructive-foreground: 210 40% 98%;

    --ring: 240 2.6% 14.9%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}