.ProseMirror {
  min-height: 40vh;
  border: 2px solid peru;
  border-radius: 10px;
  outline: none;
  padding: 1em;
}

.ProseMirror p.is-editor-empty:first-child::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

.ProseMirror h1 {
  font-size: 32px;
}

.ProseMirror h2 {
  font-size: 26px;
}

.item {
  width: 100%;
  color: black;
  border: none;
}
