.ProseMirror {
  min-height: 40vh;
  /* border: 2px solid peru; */
  border-radius: 10px;
  outline: none;
  padding: 1em;
}

.ProseMirror p.is-editor-empty:first-child::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

.ProseMirror blockquote {
  border-left: 3px solid lightgray;
  padding-left: 1rem;
}

.ProseMirror ul,
ol {
  padding: 0 1rem;
}

.ProseMirror h1 {
  font-size: 32px;
}

.ProseMirror h2 {
  font-size: 26px;
}

.ProseMirror pre {
  background: #0d0d0d;
  color: #fff;
  font-family: 'JetBrainsMono', monospace;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  margin: 15px 0px;
}

.ProseMirror > pre > code {
  color: inherit;
  padding: 0;
  background: none;
  font-size: 0.8rem;
}

.ProseMirror > pre > code > .hljs-comment,
.hljs-quote {
  color: #616161;
}

.ProseMirror > pre > code > .hljs-variable,
.hljs-template-variable,
.hljs-attribute,
.hljs-tag,
.hljs-name,
.hljs-regexp,
.hljs-link,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class {
  color: #f98181;
}

.ProseMirror > pre > code > .hljs-number,
.hljs-meta,
.hljs-built_in,
.hljs-builtin-name,
.hljs-literal,
.hljs-type,
.hljs-params {
  color: #fbbc88;
}

.ProseMirror > pre > code > .hljs-string,
.hljs-symbol,
.hljs-bullet {
  color: #b9f18d;
}

.ProseMirror > pre > code > .hljs-title,
.hljs-section {
  color: #faf594;
}

.ProseMirror > pre > code > .hljs-keyword,
.hljs-selector-tag {
  color: #70cff8;
}

.ProseMirror > pre > code > .hljs-emphasis {
  font-style: italic;
}

.ProseMirror > pre > code > .hljs-strong {
  font-weight: 700;
}

.ProseMirror table {
  border-collapse: separate;
  border-spacing: 0;
  table-layout: fixed;
  width: 100%;
  margin: 0;
  overflow: hidden;
}

.ProseMirror table td,
.ProseMirror table th {
  min-width: 1em;
  border: 1px solid #ddd;
  padding: 3px 5px;
  vertical-align: top;
  box-sizing: border-box;
  position: relative;
}

.ProseMirror table td > *,
.ProseMirror table th > * {
  margin-bottom: 0;
}

.ProseMirror table th {
  font-weight: bold;
  text-align: left;
  color: black;
  background: gray;
}

.ProseMirror table .selectedCell:after {
  z-index: 2;
  position: absolute;
  content: '';
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  pointer-events: none;
}

.ProseMirror table .column-resize-handle {
  position: absolute;
  right: -2px;
  top: 0;
  bottom: 0;
  width: 4px;
  z-index: 20;
  background-color: white;
  cursor: pointer;
  pointer-events: none;
}

.ProseMirror .tableWrapper {
  margin: 0.5em 0;
  overflow-x: auto;
}

hr {
  margin: 15px 0px;
}
